{% extends 'base2.html.twig' %}

{% block title %}Compteep{% endblock %}

{% block body %}
    <h1>Compteep</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id compte epargne</th>
                <td>{{ compteep.id }}</td>
            </tr>
            <tr>
                <th>Id client</th>
                <td>{{ compteep.client.id }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ compteep.Rib }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ compteep.solde }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ compteep.type }}</td>
            </tr>
            <tr>
                <th>Dateouv</th>
                <td>{{ compteep.dateouv ? compteep.dateouv|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ compteep.description }}</td>
            </tr>
             >
               <tr>
    <th>Etat du compte</th>
    <td>{{ compteep.etat ? 'Actif' : 'Inactif' }}</td>
</tr>

          
            
        </tbody>
    </table>

    <a href="{{ path('Adminapp_compteep_index') }}">Retour a la liste</a>
<span style="margin: 0 200px;"></span>
    <a href="{{ path('Adminapp_compteep_edit', {'id': compteep.id}) }}">Modifier</a>

    {{ include('Admincompteep/_delete_form.html.twig') }}
{% endblock %}
