{% extends 'base.html.twig' %}

{% block title %}Virement index{% endblock %}

{% block body %}
    <h1>Virement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Destinataire</th>
                <th>Motif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for virement in virements %}
            <tr>
                <td>{{ virement.id }}</td>
                <td>{{ virement.source }}</td>
                <td>{{ virement.destinataire }}</td>
                <td>{{ virement.motif }}</td>
                <td>
                    <a href="{{ path('app_virement_show', {'id': virement.id}) }}">show</a>
                    <a href="{{ path('app_virement_edit', {'id': virement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_virement_new') }}">Create new</a>
{% endblock %}
