{% extends 'base.html.twig' %}

{% block title %}Liste des beneficiaires{% endblock %}

{% block body %}
    <h1>Beneficiaire index</h1>
   <form id="searchForm">
    <label for="nameSearch">Recherche par nom :</label>
    <input type="text" id="nameSearch" name="nameSearch" class="form-control input-default mr-2" maxlength="11" pattern="[0-9]+">
    <hr>
</form>
<div id="tableContainer">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Rib</th>
                <th>plus</th>
                <th>modifier</th>
                <th>virement</th>
            </tr>
        </thead>
        <tbody>
        {% for beneficiaire in beneficiaires %}
            <tr>
                <td>{{ beneficiaire.id }}</td>
                <td>{{ beneficiaire.nom }}</td>
                <td>{{ beneficiaire.prenom }}</td>
                <td>{{ beneficiaire.Rib }}</td>
                <td>
                    <button onclick="window.location.href='{{ path('app_beneficiaire_show', {'id':beneficiaire.id}) }}'" class="btn tp-btn-light btn-primary">Plus</button>
                </td>
                      
                     <td>
                    <button onclick="window.location.href='{{ path('app_beneficiaire_edit', {'id':beneficiaire.id}) }}'" class="btn tp-btn-light btn-primary">edit</button>
                </td> 
                        <!-- Bouton Virement -->
                       
                      <td>
                    <button onclick="window.location.href='{{ path('app_virement_new', {'id':beneficiaire.id}) }}'" class="btn tp-btn-light btn-primary">Faire virement</button>
                </td>   
                      
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <button onclick="window.location.href='{{ path('app_beneficiaire_new') }}'" class="btn tp-btn-light btn-primary">Ajouter beneficiaire</button>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        // Variable pour stocker le contenu initial
        var initialTableContent = $('#tableContainer').html();

        $('#nameSearch').on('input', function() {
            searchname();
        });

        function searchname() {
            var name = $('#nameSearch').val();

            // Si le champ de recherche est vide ou contient uniquement des espaces
            if (!name.trim()) {
                // Réaffiche le contenu initial
                $('#tableContainer').html(initialTableContent);
            } else {
                // Si le champ n'est pas vide, effectue la recherche
                $.ajax({
                    type: 'POST',
                    url: '{{ path('app_search_benefeciaire_by_name') }}',
                    data: { nom: name },
                    success: function(data) {
                        $('#tableContainer').html(data);
                    },
                    error: function(error) {
                        console.log('Erreur lors de la recherche :', error);
                    }
                });
            }
        }
    });
</script>

    
{% endblock %}