{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {# Champ 'type' avec label en dessous #}
    {{ form_row(form.type) }}

    {# Champ 'description' avec label en dessous #}
    {{ form_row(form.description) }}

    {# Champ 'rib' avec label en dessous #}
    {{ form_row(form.rib) }}

    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
