{% extends 'base.html.twig' %}

{% block title %}Compteep index{% endblock %}

{% block body %}
    <h1>Compteep index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rib</th>
                <th>Solde</th>
                <th>Type</th>
                <th>Dateouv</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compteep in compteeps %}
            <tr>
                <td>{{ compteep.id }}</td>
                <td>{{ compteep.Rib }}</td>
                <td>{{ compteep.solde }}</td>
                <td>{{ compteep.type }}</td>
                <td>{{ compteep.dateouv ? compteep.dateouv|date('Y-m-d') : '' }}</td>
                <td>{{ compteep.description }}</td>
                <td>
                    <a href="{{ path('app_compteep_show', {'id': compteep.id}) }}">show</a>
                    <a href="{{ path('app_compteep_edit', {'id': compteep.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_compteep_new') }}">Create new</a>
{% endblock %}
