{% extends 'userinterface/index.html.twig' %}

{% block title %}Assurance {% endblock %}

{% block body %}
    <h1>Assurance </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Delais</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assurance in assurances %}
            <tr>
                <td>{{ assurance.id }}</td>
                <td>{{ assurance.type }}</td>
                <td>{{ assurance.delais }}</td>
                <td>{{ assurance.montant }}</td>
                <td>
                    <a href="{{ path('app_assurance_show', {'id': assurance.id}) }}">show</a>
                    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="create-new-btn">
        <a href="{{ path('app_assurance_new') }}">Create new</a>
    </div>
<style>
    .create-new-btn {
    display: block; /* Permet au lien de prendre toute la largeur de son conteneur */
    width: max-content; /* La largeur s'adapte au contenu */
    margin: 20px auto; /* Centrer le bouton horizontalement */
    padding: 10px 20px; /* Espace autour du texte */
    background-color: red; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center;
    text-decoration: none; /* Supprime le soulignement des liens */
    border-radius: 5px; /* Bordures arrondies */
    transition: background-color 0.5s ease; /* Animation de la couleur de fond */
}

.create-new-btn:hover {
    background-color: darkred; /* Couleur de fond au survol */
}

    </style>
    
  
    <div class="navigation">
     {{ knp_pagination_render(assurances) }}
    </div>

    
    




     <!-- Bouton Chatbot -->

    <div class="chatbot-button">
        <a href="{{ path('app_bot') }}">Chatbot</a>
    </div>


    <style>
    .chatbot-button {
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 1000;
}

.chatbot-button a {
    display: inline-block;
    background-color: #007bff; /* Couleur bleue, ajustez selon votre palette */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.chatbot-button a:hover {
    background-color: #0056b3; /* Couleur lors du survol */
}

    </style>
{% endblock %}
