{% extends 'base.html.twig' %}

{% block title %}Comptecourant{% endblock %}

{% block body %}
    <h1>Comptecourant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comptecourant.id }}</td>
            </tr>
            <tr>
                <th>Dateouv</th>
                <td>{{ comptecourant.dateouv ? comptecourant.dateouv|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ comptecourant.Rib }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ comptecourant.solde }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comptecourant_index') }}">back to list</a>

    <a href="{{ path('app_comptecourant_edit', {'id': comptecourant.id}) }}">edit</a>

    {{ include('comptecourant/_delete_form.html.twig') }}
{% endblock %}
