{% extends 'base.html.twig' %}

{% block title %}Typetaux index{% endblock %}

{% block body %}
    <h1>Typetaux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Taux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typetaux in typetauxes %}
            <tr>
                <td>{{ typetaux.id }}</td>
                <td>{{ typetaux.type }}</td>
                <td>{{ typetaux.taux }}</td>
                <td>
                    <a href="{{ path('app_typetaux_show', {'id': typetaux.id}) }}">show</a>
                    <a href="{{ path('app_typetaux_edit', {'id': typetaux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_typetaux_new') }}">Create new</a>
{% endblock %}
