{% extends 'base.html.twig' %}

{% block title %}Type comptes{% endblock %}

{% block body %}
    <h1>Consulter les types et les taux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Taux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typetaux in typetauxes %}
            <tr>
                <td>{{ typetaux.id }}</td>
                <td>{{ typetaux.type }}</td>
                <td>{{ typetaux.taux }}</td>
                <td>
                    
                   
                                      <button onclick="window.location.href='{{ path('app_typetaux_edit', {'id': typetaux.id}) }}'" class="btn tp-btn-light btn-primary">Modifier</button>
                                     

                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


       <button onclick="window.location.href='{{ path('app_typetaux_new') }}'" class="btn tp-btn-light btn-primary">Ajouter un nouveau type de compte epargne</button>

{% endblock %}
