{% extends 'base.html.twig' %}

{% block title %}Typecredit index{% endblock %}

{% block body %}
    <h1>Typecredit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Taux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typecredit in typecredits %}
            <tr>
                <td>{{ typecredit.id }}</td>
                <td>{{ typecredit.nom }}</td>
                <td>{{ typecredit.taux }}</td>
                <td>
                    <a href="{{ path('app_typecredit_show', {'id': typecredit.id}) }}">show</a>
                    <a href="{{ path('app_typecredit_edit', {'id': typecredit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_typecredit_new') }}">Create new</a>
{% endblock %}
