{% extends 'base2.html.twig' %}

{% block title %}Typecredit index{% endblock %}

{% block body %}
    <h1>Typecredit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Taux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typecredit in typecredits %}
            <tr>
                <td>{{ typecredit.id }}</td>
                <td>{{ typecredit.nom }}</td>
                <td>{{ typecredit.taux }}</td>
                <td>
                <button onclick="window.location.href='{{ path('app_typecredit_show', {'id': typecredit.id}) }}'" class="btn btn-primary">Show</button>
                   <button onclick="window.location.href='{{ path('app_typecredit_edit', {'id': typecredit.id}) }}'" class="btn btn-primary">edit</button>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<button onclick="window.location.href='{{ path('app_typecredit_new') }}'" class="btn btn-primary">Create new</button>

{% endblock %}
