{% extends 'base2.html.twig' %}

{% block title %}Typecredit{% endblock %}

{% block body %}
    <h1>Typecredit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typecredit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ typecredit.nom }}</td>
            </tr>
            <tr>
                <th>Taux</th>
                <td>{{ typecredit.taux }}</td>
            </tr>
        </tbody>
    </table>
     <button onclick="window.location.href='{{ path('app_typecredit_index') }}'" class="btn btn-primary">back to list</button>
     <button onclick="window.location.href='{{ path('app_typecredit_edit', {'id': typecredit.id}) }}" class="btn btn-primary">edit</button>
 {{ include('typecredit/_delete_form.html.twig') }}
{% endblock %}
