{% extends 'base.html.twig' %}

{% block title %}DemandeDesacCE index{% endblock %}

{% block body %}
    <h1>DemandeDesacCE index</h1>

    {# Afficher les messages flash #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Raison</th>
                <th>ID du compte</th>
                <th>modifier</th>
                <th>supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for demande_desac_c_e in demande_desac_c_es %}
                <tr>
                    <td>{{ demande_desac_c_e.raison }}</td>
                    <td>{{ demande_desac_c_e.compteep.id }}</td>
                    <td>
                        <a href="{{ path('app_demande_desac_c_e_edit', {'id': demande_desac_c_e.id}) }}" class="btn tp-btn-light btn-primary">Modifier</a>
                       
                    </td>
                  <td>
                        
                        <a href="{{ path('app_demande_desac_c_e_delete', {'id': demande_desac_c_e.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette demande ?')">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
