{% extends 'base2.html.twig' %}




{% block title %}Statistiques{% endblock %}


{% block body %}
   {# Output the data for testing purposes #}
   <div>
       <h2>Statistique de nombre de comptes par entité</h2>
   </div>


   <div style="width: 600px; height: 400px;">
       <canvas id="myChart" width="600" height="400"></canvas>
   </div>


   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


   <script>
       var data = {{ data_json | raw }};


       // Output the data for testing purposes
       console.log(data);


       // Create arrays for labels and data
       var labels = Object.keys(data);
       var values = Object.values(data);


       // Use Chart.js to create the bar chart
       var ctx = document.getElementById('myChart').getContext('2d');
       var myChart = new Chart(ctx, {
           type: 'bar',
           data: {
               labels: labels,
               datasets: [{
                   label: 'Nombre de comptes par entité',
                   data: values,
                   backgroundColor: 'rgba(75, 192, 192, 0.5)', // Adjust the alpha value for transparency
                   borderColor: 'rgba(75, 192, 192, 1)',
                   borderWidth: 1
               }]
           },
           options: {
               scales: {
                   x: {
                       beginAtZero: true,
                       ticks: {
                           font: {
                               weight: 'bold', // Make the x-axis labels bold
                               color: 'black' // Set the color of x-axis labels
                           }
                       }
                   },
                   y: {
                       beginAtZero: true,
                       ticks: {
                           font: {
                               weight: 'bold', // Make the y-axis labels bold
                               color: 'black' // Set the color of y-axis labels
                           },
                           stepSize: 1
                       }
                   }
               }
           }
       });
   </script>
   <style>
       #myChart {
           color: black;
       }
   </style>
<style>
   table {
       width: 100%;
       border-collapse: collapse;
       margin-top: 20px;
   }


   th, td {
       border: 1px solid #dddddd;
       text-align: left;
       padding: 8px;
   }


   th {
   }


   .btn {
       display: inline-block;
       padding: 6px 12px;
       margin-bottom: 0;
       font-size: 14px;
       font-weight: 400;
       line-height: 1.42857143;
       text-align: center;
       white-space: nowrap;
       vertical-align: middle;
       cursor: pointer;
       user-select: none;
       background-image: none;
       border: 1px solid transparent;
       border-radius: 4px;
   }


   .btn-primary {
       border-color: #2e6da4;
   }


   .btn-danger {
       border-color: #d43f3a;
   }
</style>


<h2>Clients</h2>
<table border="1">
   <thead>
       <tr>
           <th>ID</th>
           <th>Name</th>
           <th>Email</th>
           <th>Action</th>
       </tr>
   </thead>
   <tbody>
       {% for client in clients %}
           <tr>
               <td>{{ client.id }}</td>
               <td>{{ client.nom }}</td>
               <td>{{ client.email }}</td>
               <td>
                   <a href="{{ path('app_client_edit', {'id': client.id}) }}">Update</a>
                   
                   <a href="{{ path('app_client_delete', {'id': client.id}) }}" onclick="return confirm('Are you sure you want to delete this client?')">Delete</a>
               </td>
           </tr>
       {% endfor %}
   </tbody>
</table>


<h2>Users</h2>
<table border="1">
   <thead>
       <tr>
           <th>ID</th>
           <th>Name</th>
           <th>Email</th>
           <th>Action</th>
       </tr>
   </thead>
   <tbody>
       {% for user in users %}
           <tr>
               <td>{{ user.id }}</td>
               <td>{{ user.name }}</td>
               <td>{{ user.email }}</td>
               <td>
                   <a href="{{ path('app_user_edit', {'id': user.id}) }}">Update</a>
                   
                   <a href="{{ path('app_user_delete', {'id': user.id}) }}" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
               </td>
           </tr>
       {% endfor %}
   </tbody>
</table>


<h1>Carte   </h1>


<table border="1">
   <thead>
       <tr>
           <th>Id</th>
           <th>Num</th>
           <th>Nom</th>
           <th>Dateexp</th>
           <th>Cvv</th>
           <th>actions</th>
       </tr>
   </thead>
   <tbody>
       {% for carte in cartes %}
           <tr>
               <td>{{ carte.id }}</td>
               <td>{{ carte.num }}</td>
               <td>{{ carte.nom }}</td>
               <td>{{ carte.dateexp ? carte.dateexp|date('Y-m-d') : '' }}</td>
               <td>{{ carte.cvv }}</td>
               <td>
                   <a href="{{ path('app_carte_show', {'id': carte.id}) }}">show</a>
                   <a href="{{ path('app_carte_edit', {'id': carte.id}) }}">edit</a>
               </td>
           </tr>
       {% else %}
           <tr>
               <td colspan="6">no records found</td>
           </tr>
       {% endfor %}
   </tbody>
</table>
   <h1>virements</h1>


<table border="1">
       <thead>
           <tr>
               <th>Id</th>
               <th>Source</th>
               <th>Destinataire</th>
               <th>Montant</th>
               <th>Motif</th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
       {% for virement in virements %}
           <tr>
               <td>{{ virement.id }}</td>
                <td>{{ virement.source }}</td>
               <td>{{ virement.destinataire }}</td>
               <td>{{ virement.montant }}</td>
               <td>{{ virement.motif }}</td>
              
              
               <td>
                 
                   <button onclick="window.location.href='{{ path('app_virement_show', {'id': virement.id}) }}'" class="btn tp-btn-light btn-primary">Plus</button>
                  <!-- <a href="{{ path('app_virement_edit', {'id': virement.id}) }}">edit</a> -->
               </td>
           </tr>
       {% else %}
           <tr>
               <td colspan="5">no records found</td>
           </tr>
       {% endfor %}
       </tbody>
   </table>






{% endblock %}





