{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedeb</th>
                <th>Datefin</th>
                <th>Signature</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.datedeb ? contrat.datedeb|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.datefin ? contrat.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.signature }}</td>
                <td>{{ contrat.type }}</td>
                <td>
                    <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_new') }}">Create new</a>
{% endblock %}
