{% extends 'base.html.twig' %}

{% block title %}Invest{% endblock %}

{% block body %}
    <h1>Invest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invest.id }}</td>
            </tr>
            <tr>
                <th>Idclient</th>
                <td>{{ invest.idclient }}</td>
            </tr>
            <tr>
                <th>Crypto</th>
                <td>{{ invest.crypto }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ invest.action }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ invest.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_invest_index') }}">back to list</a>

    <a href="{{ path('app_invest_edit', {'id': invest.id}) }}">edit</a>

    {{ include('invest/_delete_form.html.twig') }}
{% endblock %}
