{% extends 'base.html.twig' %}

{% block title %}Cheque index{% endblock %}

{% block body %}
    <h1>Cheque index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num</th>
                <th>Numcompte</th>
                <th>Montant</th>
                <th>Signature</th>
                <th>Date</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cheque in cheques %}
            <tr>
                <td>{{ cheque.id }}</td>
                <td>{{ cheque.num }}</td>
                <td>{{ cheque.numcompte }}</td>
                <td>{{ cheque.montant }}</td>
                <td><img src="{{ asset(cheque.signature) }}" style="width: 40px; height: 40px;"> ></td>

                
                <td>{{ cheque.date ? cheque.date|date('Y-m-d') : '' }}</td>
                <td>{{ cheque.mail }}</td>
                <td>
                     <button onclick="window.location.href='{{ path('app_cheque_show', {'id': cheque.id}) }}'" class="btn btn-primary">show</button>
                    <button onclick="window.location.href='{{ path('app_cheque_edit', {'id': cheque.id}) }}'" class="btn btn-primary">edit</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cheque_new') }}">Create new</a>
{% endblock %}
