{% extends 'base.html.twig' %}

{% block title %}Cheque index{% endblock %}

{% block body %}
    <h1>Cheque index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num</th>
                <th>Numcompte</th>
                <th>Montant</th>
                <th>Signature</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cheque in cheques %}
            <tr>
                <td>{{ cheque.id }}</td>
                <td>{{ cheque.num }}</td>
                <td>{{ cheque.numcompte }}</td>
                <td>{{ cheque.montant }}</td>
                <td>{{ cheque.signature }}</td>
                <td>{{ cheque.date ? cheque.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_cheque_show', {'id': cheque.id}) }}">show</a>
                    <a href="{{ path('app_cheque_edit', {'id': cheque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cheque_new') }}">Create new</a>
{% endblock %}
