{% extends 'base2.html.twig' %}

{% block title %}Liste des cartes{% endblock %}

{% block body %}
    <h1>Liste des cartes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num</th>
                <th>Nom</th>
                <th>Dateexp</th>
                <th>Cvv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte in cartes %}
            <tr>
                <td>{{ carte.id }}</td>
                <td>{{ carte.num }}</td>
                <td>{{ carte.nom }}</td>
                <td>{{ carte.dateexp ? carte.dateexp|date('Y-m-d') : '' }}</td>
                <td>{{ carte.cvv }}</td>
                <td>
                    <button onclick="window.location.href='{{ path('app_carte_show', {'id': carte.id}) }}'" class="btn btn-primary">show</button>
                    <button onclick="window.location.href='{{ path('app_carte_edit', {'id': carte.id}) }}'" class="btn btn-primary">edit</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_carte_new') }}">Create new</a>
{% endblock %}